@import '../../styles/variables';
@import '../../styles/mixins';

.product-list {

  width: 80%;
  display: inline-block;
  text-align: left;

  @include rem(padding-bottom, 48px);

  &__items {
    background: $white;
    border-radius: 4px;
    overflow: hidden;
  }
}
