@import 'mixins';
@import 'variables';

.form {
  &__input {    
    border: none;
    color: $mineshaft;
    
    @include rem(height, 18px);
    @include rem(font-size, 16px);
    @include rem(padding, 10px 20px);

    @include placeholder() {
      color: $dusty-gray;
    }

    &--inline {
      float: left;
      border-radius: 5px 0 0 5px;
    }
  }
  
  &__button {
    background: $gallery;
    border: 0;
        
    @include rem(padding, 11px 10px);
    
    &--inline {
      float: left;
      border-radius: 0 5px 5px 0;
    }

    img {
      display: block;
      
      @include rem(width, 16px);     
    }
  }
}