$gorse: #FFE600;
$dusty-gray: #999999;
$gallery: #EEEEEE;
$mineshaft: #333333;
$white: #FFFFFF;
$black: #000000;
$dodger-blue: #3483FA;

$margin-small: 16px;
$margin-large: 32px;

$text-small: 14px;
$text-medium: 18px;
$text-large: 24px;
